.App {
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background:rgb(188, 203, 247);
}

img{
  width:100%;
  height:100%;
}

.Link{
  text-decoration: none;
}